---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import Card from '../../components/Card.astro';

const posts = (await getCollection('open_api')).sort();
---
<style>
	main {
		width: 960px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	ul li a {
		display: block;
		color: #000000;
		text-decoration: none;
		height: 100%;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}
	ul li a:hover h4,
	ul li a:hover .date {
		color: rgb(var(--accent));
	}
	ul a:hover img {
		box-shadow: var(--box-shadow);
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
	}
</style>

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header pageDescription="OpenAPI에 대한 내용이 정리되어있는 페이지입니다."/>
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
						<li>
								<a href={`${import.meta.env.BASE_URL}/open_api/${post.slug}/`}>
									<Card
										title={post.data.title}
										contents={post.data.description}
									/>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
