---
import "./Footer.css"
const today = new Date();

const routeList = [
	{route: "blog", title: "블로그"},
	{route: "server", title: "서버"},
	{route: "mobile", title: "모바일"},
];
---

<script>
	class SpeechBlackBear extends HTMLElement {
		speechList = [
			"검은곰의 인수인계 페이지입니다.",
			"문제는 잘 해결되고 있나요?"
		]
		speechIndex = 0;
		
		constructor() {
			super();
			const speechBubble = this.querySelector("#speech-bubble-text");
			if (speechBubble) {
				speechBubble.textContent = this.speechList[this.speechIndex];
			}

			setInterval(() => {
				const newSpeechIndex = Math.floor(
					Math.random()*this.speechList.length
				);
			
				if (this.speechIndex != newSpeechIndex && speechBubble) {
					this.speechIndex = newSpeechIndex;
					speechBubble.textContent = this.speechList[this.speechIndex];
				}
			}, 10 * 1000);
		}
	}

	customElements.define("speech-black-bear", SpeechBlackBear)
</script>

<footer>
	<speech-black-bear>
		<hgroup class="speech-bubble">
			<span id="speech-bubble-text"></span>
			<ul class="menu-list">
				{
					routeList.map((route) => (
						<li>
							<a class="menu-list-item" href={`${import.meta.env.BASE_URL}/${route.route}`}>{route.title}에 대해서</a>
						</li>
					))
				}

			</ul>
		</hgroup>
		<img class="footer-image" src=`${import.meta.env.BASE_URL}/smile.png`>
	</speech-black-bear>
	&copy; {today.getFullYear()} ITX AI<br/> All rights reserved.
</footer>
